{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Bienvenido al apartado de información</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nunc pulvinar sapien et ligula. Morbi enim nunc faucibus a pellentesque sit. Eu nisl nunc mi ipsum faucibus. Convallis tellus id interdum velit.<p>
</div>
{% endblock %}