{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Bienvenido al apartado de contacto</h1>

    <ul>
        <li>Telefono: 684 438 946</li>
        <li>Email: alvaro@gmail.com</li>
    </ul>
</div>
{% endblock %}